body {
  background: #fafafa !important;
}

.navbar {
  margin-bottom: -20px;
}
.post-meta {
  background-color: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
}

.insta-post {
  margin-bottom: 15px;
}

.insta-post-image {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: auto; 
  object-fit: contain;

}

.account-summary {
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestion {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.profile-pic {
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

.profile-stats {
  width: 120px;
  float: left;
}

.profile-posts {
  margin-top: 50px;
}

.postAccountPic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.text-dark {
  text-decoration: none;
}

.post-details {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}

.post-actions {
  margin-bottom: 20px;
}
.post-like, .post-comment {
  margin-right: 10px;
  color: #ddd;
  cursor: pointer;
}

.post-actions  .active {
  color: #555;
}

.post-like:hover , .post-comment:hover {
  color: #999;
}