body {
  background: #fafafa !important;
}

.navbar {
  padding: 14px 16px !important;
  margin-bottom: -20px;
  border-bottom: 1px solid #ddd;
}
.post-meta {
  background-color: #fff;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #ddd;
}

.insta-post {
  margin-bottom: 15px;
}

.insta-post-image {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: auto; 
  object-fit: contain;

}

.account-summary {
  text-align: left;
  margin-bottom: 20px;
}

.follower-suggestion {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.profile-pic {
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

.profile-stats {
  max-width: 360px;
  
  margin-bottom: 30px;
}

.profile-posts {
  margin-top: 50px;
}

.postAccountPic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.text-dark {
  text-decoration: none;
}

.post-details {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}

.post-actions {
  margin-bottom: 20px;
}
.post-like, .post-comment {
  margin-right: 10px;
  color: #ddd;
  cursor: pointer;
}

.post-actions  .active {
  color: #ff0000;
}

.post-like:hover , .post-comment:hover {
  color: #999;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.comments-box {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.post-comment {
  box-shadow: none !important;
}

.btn-custom {
  background: transparent;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.btn-custom:hover {
  background-color: #ddd !important;
}

.comments-feed {
  height: 300px;
  overflow-y: scroll;
}

.post-detail, .post-actions {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
}