<div class="public text-center">
  <div class="text-center">
    <h1 style="font-size: 100px">Welcome to Lumina</h1>
    <p class="lead" style="font-size: 33px">Please Register or Sign in</p>
    <%= link_to "Sing Up", new_account_registration_path, class: 'btn btn-primary bigButton' %>
    <%= link_to "Sing In", new_account_session_path, class: 'btn btn-secondary bigButton' %>
  </div>
</div>